DRIVE_ROBOT_NAME=<Your robot name without spaces, e.g., bob>
ROS_DISTRO=<Your ros distro>
RMW_IMPLEMENTATION=<Your ros middleware>
ROS_DOMAIN_ID=<The ros domain id of your robot>

# Example for humble with the default middleware
#ROS_DISTRO=humble
#RMW_IMPLEMENTATION=rmw_fastrtps_cpp
#ROS_DOMAIN_ID=69
