<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>DRIVE AGAIN</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body>
  <div class="top-bar">
    <div class="selects">
      <select id="roboticist-select">
        <option value="">Select Roboticist</option>
        <option value="new">+ Create New</option>
      </select>

      <select id="robot-select">
        <option value="">Select Robot</option>
        <option value="new">+ Create New</option>
      </select>

      <select id="terrain-select">
        <option value="">Select Terrain</option>
        <option value="new">+ Create New</option>
      </select>
    </div>

    <form class="save-dataset-form" action="/submit" onsubmit="saveDataset(event)">
      <label for="dataset-name-input">Dataset name : </label>
      <input type="text" id="dataset-name-input" name="datasetName" required />
      <button type="submit">Save dataset</button>
    </form>

    <form class="load-geofence-form" action="/submit" onsubmit="loadGeofence(event)">
      <select id="dataset-load-select" onclick="updateDatasets()" required>
        <option value="">Load datasets</option>
      </select>
      <button type="submit">Load geofence</button>
    </form>
  </div>

  <main class="image-container">
    <img id="robot_viz" />
    <img id="input_space" />
  </main>

  <div class="bottom-bar">
    <div class="skip-step-container">
      <div id="step-counter" class="step-counter">
        Step <span id="current-step">1</span> / <span id="total-steps">100</span>
      </div>
      <button id="skip-command-button" onclick="skipCommandButtonClick()" disabled="true">Skip</button>
    </div>

    <button id="mainButton" onclick="handleButtonClick()">
      Start Geofencing
    </button>
  </div>

  {% include "modal.html" %}
  {% include "stop_modal.html" %}

  <script defer="defer" src="/static/js/index.js"></script>
</body>

</html>